@page "/"


<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
         <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>

<div class="text-center mt-4">

    <h1><img src="https://images.adsttc.com/media/images/5b8d/e80e/f197/cc85/dc00/0113/original/GIF-01-.gif?1536026632" width="30" height="30" alt="Construcción"> Urbanyo</h1>
    <h4>Construye tu sueño a tu gusto</h4>
    <h5>Que quieres construir?</h5>

</div>






<div class="text-center mt-4">
    <button class="btn btn-secondary">
        <img src="Image\casa-silueta-negra-sin-puerta.png" width="30" height="30" alt="Construcción"> Construcción
    </button>
    <br />
    <br />
    <button class="btn btn-secondary">
        <img src="Image\pincel-para-pintar.png" width="30" height="30" alt="Remodelar"> Remodelar
    </button>
    <br />
    <br />
    <button class="btn btn-secondary">
        <img src="Image\mazo.png" width="30" height="30" alt="Legalizar"> Legalizar
    </button>
    <br />
    <br />
    <button class="btn btn-danger" href="Login">
        Ingresar
    </button>
</div>


